NEXT_PUBLIC_NEST_PATH_CONFIG=/api/person-detector/config
NEXT_PUBLIC_APP_MODE= #mac|notebook => adultApp | childApp
NEXT_PUBLIC_NEST_WS_URL= #http://localhost:3001|http://192.168...:3001 => (adultApp=localhost, childApp=ip)

# Configurar segun en el equipo que se ejecute la app
# mac = adultApp
# notebook = childApp
# childApp consulta a adultApp